@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

/* estilos para todo el documento html*/
* {
    box-sizing: border-box;
    font-family: 'Roboto mono', 'monospace';
    margin: 0;
    padding: 0;
}
body {
    background-color: #e5e5e5;
}
/* estolos del header */
header {
    display: block;
    
}
.header-principal{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    background-color: black;
    color: blanchedalmond;
}
header section .header--section-title {
    color: blanchedalmond;
    font-size: 14px;
    font-weight: 400;
    margin-left: 50px;
}

.header--menu-span {
    text-align: right;
    margin-right: 50px;
    font-size: 12px;
}
header section .header--menu-span2 {
    color: blanchedalmond;
    font-size: 12px;
    margin-right: 8%;
}
/* estilos de la seccion 2 del header container*/
.header--section-dos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0A83E;
    height: 62px;
}
.logo {
    flex-grow: 1;
    margin-left: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.front {
    font-size: 20px;
    color: black;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    
}
i {
    margin: 5px;
    color: #e5e5e5;
}
/* .header--container-first {
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
} */
.header--container-secound {
    background-image: url('../img/bowl.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 414px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.promociones {
    color: #3C2313;
}
.promociones h1 {
    background-color: #fff;
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    border-radius: 3px;
    width: 400px;
    margin-right: 100px;
}
.promociones p {
    color: #3C2313;
    font-size: 16px;
    margin-top: 12px;
    text-align: right;
    margin-right: 100px;
}
.promociones div {
    background-color: #F0A83E;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    width: 110px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: 200px;
}
/* estilos del main  SECCION PRODUCTOS*/
.main-container {
    display: block;
    text-align: center;
    color: #3C2313;
}
.main-container i {
    color: #F0A83E;
    font-size: 40px;
    margin-top: 30px;
}

.main-container h3 {
    margin-top: 14px;
    font-size: 40px;
}
.enlaces {
    margin-top: 26px;
}
.enlaces a {
    color: #666666;
    text-decoration: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}
/* estilo de los productos PARTE 2 */
.main--product-container {
    display: flex;
    justify-content: center;
    margin-top: 43px;
}
.main--product-container article {
    margin: 10px;
}
.main--product-container article h4 {
    color: #3C2313;
    font-size: 13px;
    font-weight: 500px;
}
.main--product-container  article span{
    color: #F0A83E;
    font-size: 13px;
}

/* estilos del registro de formulario*/
.main--form-registre {
    display: inline-block;
    margin: 40px;
}
.main--form-registre h2 {
    color: #3C2313;
    font-size: 35px; 
}
.main--form-registre .container-form {
    margin-top: 30px;
}
.main--form-registre .form {
    background-color: #3C2313;
    color: #AB9C9C;
    font-size: 9px;
    font-weight: 400;
    margin: 5px;
    padding: 12px;
    width: 298px;
    height: 40px;
    border-radius: 20px;
}
.send-rest {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.send-rest .rest {
    background-color: #666666;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 150px;
    height: 45px;
}
.send-rest .send {
    background-color: #F0A83E;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 150px;
    height: 45px;
}
/* estilos del footer */
footer {
    display: block;
    margin-top: 30px;
}
.footer--section-uno {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    background-color: #F0A83E;
    color: #fff;
    font-size: 16px;
    height: 90px;
}
.contenedor-footer-uno {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}
.spanuno{
    background-color: #e5e5e5;
    color: #3C2313;
    font-size: 10px;
    border-radius: 20px;
    padding: 12px;
}

.spandos{
    background-color: #3C2313;
    color: #e5e5e5;
    font-size: 15px;
    margin: 20px;
    padding: 9px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
}
/* estilos del footer dos */
.contenedor--footer-dos {
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
}
.contenedor--footer-dos div {
    margin: 20px;
}
.location {
    margin: 15px;
    font-size: 30px;
    color: #fff;
}
.correo{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.descripcion{
    font-weight: bold;
    font-size: 14px;
    color: #8A8787;
    margin-left: 65px;
}
.footer-logo {
    position: relative;
    top: 100px;
    padding: 12px;
}
/* estilos seccion 3 */
.final{
    background-color: #0e0d0d;
    text-align: center;
    color: white;
}
/* pagina responsive o adaptativa */
@media screen and (max-width: 480px){
    .header-principal {
        background: #fff;

    }
    .main--product-container {
        display: block;
    }
    .header--container-secound {
        background-image: url('../img/bowlmobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 480px;
    }
    .contenedor-footer-uno{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        width: 140px;
    }
    .correo{
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }
    .descripcion{
        margin-left: 1px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .header-principal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .main--product-container {
        display: block;
    }   
    .header--container-secound {
        background-image: url('../img/bowlmobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 480px;
    }
    .contenedor-footer-uno{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }
    .correo{
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }
    .descripcion{
        margin-left: 1px;
    }
}